<h2 style="color: #B00100; margin: 0 auto">All items</h2>

<% @items.each do |item| %>
  <ul>
    <li># <%= item.id %></li>
    <li>Name: <%= link_to item.name, item %></li>
    <li>Price: <%= item.price %> $</li>
    <li>Description: <%= item.description %></li>
    <li>Weight: <%= item.weight %></li>
    <li><%= button_to "delete", item_path(item), method: :delete %></li>
  </ul>
<% end %>